.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#map {
  height: 500px;
  width: 100%;
}
