.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Root{
  display: flex;
}
#map{height: 500px}